<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
  {{ partial "head.html" . }}
  
  <body class="{{ if .IsHome }}home{{ end }}"> {{ partial "breadcrumb.html" . }}

    <div class="layout-wrapper">
      {{ partial "header.html" . }}

      <main class="site-main {{ if ne .Section "posts" }}full-width{{ end }}">
        {{ block "main" . }}{{ end }}
      </main>

      {{ partial "footer.html" . }}
    </div>

    <div class="progress-bar"><div class="progress-bar-fill"></div></div>

    {{ $js := resources.Get "js/main.js" | resources.Minify | fingerprint }}
    <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>
  </body>
</html>
