/* 1. Base */
@import "base/variables";
@import "base/reset";
@import "base/typography";

/* 2. Layout */
@import "layout/structure";


@import "pages/home";

/* 3. Components */
@import "components/buttons";
@import "components/cards";
@import "components/navigation";
@import "components/admonitions";
@import "components/tables";
@import "components/code-blocks";
@import "components/tags";


/* 4. Org Mode */
@import "orgmode/org-elements";
@import "orgmode/org-export";

/* 5. Utilities */
@import "utilities/responsive";
