{{ $path := printf "static/%s" (.Get "src") }}
{{ $offset := .Get "offset" | default "0" }} 
{{ $lineSpacing := 94.48 }}

{{ if (fileExists $path) }}
  {{ $svgContent := readFile $path }}
  {{ $innerPaths := replaceRE `(?s).*<svg[^>]*>(.*)</svg>.*` "$1" $svgContent }}
  
  {{/* The "sensor" div allows for more elegant intersection math */}}
  <div class="handwritten-wrapper" data-offset="{{ $offset }}">
    <button class="handwriting-toggle" title="Show All" aria-label="Reveal handwriting">
      <span class="material-symbols-outlined">fast_forward</span>
    </button>
    
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 2442" class="handwritten-svg">
      <defs>
        <pattern id="ruled-lines-{{ .Ordinal }}" x="0" y="{{ $offset }}" width="1920" height="{{ $lineSpacing }}" patternUnits="userSpaceOnUse">
          <line x1="0" y1="0" x2="1920" y2="0" class="template-line" />
        </pattern>
      </defs>
      
      <rect width="100%" height="100%" fill="url(#ruled-lines-{{ .Ordinal }})" />
      <line x1="118" y1="0" x2="118" y2="2442" class="margin-line" />

      <g class="ink-strokes">
        {{ $innerPaths | safeHTML }}
      </g>
    </svg>
  </div>
{{ end }}
